<html>
<head>
	<title>Temporally-Biased Clustering</title>
</head>
<body>

	<div id="like_button_container"></div>

	<!-- Load React. -->
	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

	<!-- Load our React component. -->
	
	{% for 15 %}
		<a href="{% url 'clusters' %}">Clusters</a>
	{% endfor %}
	<a href="[% url 'post' %}">New</a>
	{{loaded_data | safe}}
	{{loaded_data2 | safe}}
</body>
</html>
